@import 'base/variables';
@import 'base/animation';
* {
    font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
    position: relative;
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/benefits';
@import 'blocks/sybheader';
@import 'blocks/consultation';
@import 'blocks/form';
@import 'blocks/carusel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal-window';
@import 'blocks/scrollup';