.benefits {
    background-color: #F6F6F6;
    padding: 73px 0 65px 0;
    &__warp {
        margin-top: 60px;
        display: flex;
    }
    &__block {
        width: calc(100%/3);
        margin-right: 42px;
        &:last-child {
            margin-right: 0;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        &_animated {
            animation-name: bitHeart;
            animation-duration: 2s;
            // animation-timing-function: linear;
            animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
            animation-iteration-count: infinite;
        }
    }
    &__block-subheader {
        text-align: center;
        margin: 25px 0 25px 0;
        font-family: 'MuseoModerno';
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    &__block-text {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        span {
            color: $main-color;
            text-decoration: underline;
        }
    }
}