.button {
    background: #C70101;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    &_consultation {
        width: 300px;
        height: 58px;
    }
}