  .footer {
      position: relative;
      height: 630px;
      &__info {
          text-align: center;
          padding-top: 50px;
          padding-bottom: 56px;
          position: absolute;
          top: 0;
          background-color: $main-color;
          width: 460px;
          height: 270px;
          left: 50%;
          transform: translateX(-50%);
      }
      &__adr {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
      }
      &__tel {
          display: block;
          padding-top: 36px;
          text-decoration: none;
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
          &:hover {
              text-decoration: underline;
              color: #FFFFFF;
          }
      }
      &__social {
          margin-top: 36px;
          display: flex;
          justify-content: center;
      }
      &__social-icon {
          margin: 0 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 53px;
          height: 53px;
          border: solid 2px rgb(255, 255, 255);
          border-radius: 60%;
          //   transition: 0.9s all;
          svg {
              transition: 0.25s all;
              fill: #ffff;
              width: auto;
              height: 55%;
          }
          &:hover {
              svg {
                  height: 65%;
              }
          }
      }
  }