.form {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        border: none;
        margin-top: -3px;
        margin-bottom: 10px;
        text-align: center;
        line-height: 21px;
    }
    &__input {
        padding: 0 21px;
        border: none;
        border-radius: 8px;
        margin-bottom: 12px;
        width: 300px;
        height: 50px;
        &:nth-last-child(2) {
            margin-bottom: 17px;
        }
    }
    &_modal-window {
        align-items: center;
        margin: 26px 0 0 0;
        // .form__input {
        //     &:nth-last-child(2) {
        //         margin-bottom: 35px;
        //     }
        // }
    }
}

#siteForm {
    .error {
        border: 2px solid $main-color;
    }
    width: 300px;
    label.error {
        font-size: 13px;
        border: none;
        color: #fff;
    }
}